<% if (messages && messages.success) { %>
  <div class="flash success"><%= messages.success %></div>
<% } %>
<% if (messages && messages.error) { %>
  <div class="flash error"><%= messages.error %></div>
<% } %>
