<h1>Welcome to CSE Motors!</h1>
<div class="delorean">
  <div class="delor">

      <ul>
        <li class="delor">DMC Delorean</li>
        <li class="delor">3 Cup Holders</li>
        <li class="delor">Superman doors</li>
        <li class="delor">Fussy dice!</li>
        <br>
        <li class="own">Own Today</li>
      </ul>
  </div>
      <img class="vehicle-image" src="/images/vehicles/delorean-tn.jpg" alt="The delorean car">
</div>

      
<section class="upgrades">
<div class="grid-container">
    <h2>Delorean Upgrade</h2>
    <div class="upgradespix">
      <div class="img-item">
        <img src="/images/upgrades/flux-cap.png" alt="The delorean car">
       <div> <figcaption>flux-cap</figcaption></div>
      </div>
      <div class="img-item">
        <img src="/images/upgrades/flame.jpg" alt="The delorean car">
        <figcaption>flame</figcaption>
      </div>
      <div class="img-item">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="The delorean car">
        <figcaption>bumper_sticker</figcaption>
      </div>
      <div class="img-item">
        <img src="/images/upgrades/hub-cap.jpg" alt="The delorean car">
        <figcaption>hub-cap</figcaption>
      </div>
    </div>
</div>
  <div class="dmc">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it is almost like I traveling in time (4/5)"</li>
      <li>"Coolest ride on the road. (4/5)"</li>
      <li>"I'm feeling MCfly! (5/5)"</li>
      <li>"The most futuristic Ride of our day. (4.5/5)"</li>
      <li>"80's livin and I love it! (5/5)"</li>
    </ul>
  </div>
</section>





