/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
#top-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1200px;
}

.siteName a{
  font-size: 2rem;
  text-decoration: none;
  padding-left: 20px;

}

#tools a{
  font-size: 1.5rem;
  text-decoration: none;

}
nav {
  
  background-color: #36454f;
  color: #fff;
  padding: 1.3em;
  text-align: center;
  font-size: 1.3rem;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

nav li {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

nav li:last-child {
  margin-right: 0;
}

nav li:hover {
  color: #ccc;
}

.delorean {
  display: flex;
  gap: 15px;
  list-style: none;


}

.delor {
  font-size: 1.5rem;
  list-style: none;
  color: #007bff;
}

.vehicle-image {
  width: 500px;
}

h1 {
  font-size: 2.5rem;
    padding-left: 10px;

}
 

.own {
  font-size: 1.5rem;
  width: 200px;
  height: 40px;
  text-align: center;
  list-style: none;
  padding-top: 5px;
}
.own {
  background-color: #22C4EC;
  color: #fff;
}

.upgrades {
  display: flex;
  padding-left: 10px;
  gap: 60px;
}

.upgradespix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 10px;
}




.img-item {
  width: 300px;
  background-color: #22C4EC;
  text-align: center;
  margin-top: 5px;
  
}


figcaption {
  margin-top: 5px;
}


h2 {
margin-top: 20px;
font-size: 1.5rem;
}

figcaption {
  background-color: #fff;
  text-decoration: underline;
  color: #007bff;
  font-size: 1.1rem;
}

.dmc ul li{
  font-size: 1.5rem;
}

footer{
      background-color: #36454f;
      font-size: 1.3rem;
      color: #fff;
      text-align: center;

}



@media (max-width: 768px) {
  #top-header {
    display: flex;
    gap: 30px;
  }

  .siteName {
    font-size: 0.7rem;
  }
  #tools {
    font-size: 0.3rem;
  }

  nav {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
  .delorean {
  display: grid;
   grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  list-style: none;

}
  .upgrades {
    display: flex;
    flex-direction: column;
  }
  .dmc {
    order: 1;
  }
  .grid-container {
    order: 2;
  }


  .upgradespix {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

  footer{
      background-color: #36454f;
      font-size: 0.8rem;
      color: #fff;
      text-align: center;

}
}
