<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Display flash messages -->
<% if (message && message.length > 0) { %>
  <% message.forEach(msg => { %>
    <p class="flash"><%= msg %></p>
  <% }) %>
<% } %>

<!-- Display error messages -->
<% if (errors && errors.length > 0) { %>
  <% errors.forEach(error => { %>
    <p class="error"><%= error.msg %></p>
  <% }) %>
<% } %>

<!-- Render inventory grid -->
<%- grid %>
