
  <main class="error-main">
  <h1> <%= status %> Error </h1>
  <p class="error-message">
    <%= message %>
  </p>
  
  </main>

  <footer class="error-footer">
    
    <p><a href="/">Back to Home</a></p>
   

  </footer>

